# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
!.env.example
.venv/
venv/
ENV/
.env.*

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Misc
*.swp
*.swo

#documents
document/
document/*
